body {
    padding: 0 5%;
}

h1 {
    padding-bottom: 1rem;
    padding-top: 4rem;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
}

.link-item {
    padding-right: 15px;
}

.contact-card {
    text-align: center;
    background-color: #a4ebf3;
    padding-top: 10%;
    padding-bottom: 5%;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#header-section {
    padding-bottom: 15%;
    background-color: #a4ebf3;
}

#headline {
    padding-bottom: 5%;
    background-color: #ccf2f4;
}

.profile-image {
    padding-left: 25%;
    padding-top: 7%;
}